#pycache
__pycache__/
*.pyc

#Config files
Config.ini

#Distribution / packages
.Python
netkit.py

#Any datafiles
*.csv
*.arff
*.rn
NetworkAnalysis.py
netkit-srl-1.4.0/
nano.save
Config.cfg

Transform_csv.py
spotipy_links.py

communities.pickle
network.pickle
